gradio[oauth]
idna>=3.15 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=12.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
python-multipart>=0.0.27 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.7.0 # not directly required, pinned by Snyk to avoid a vulnerability